.checkoutStep {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 60px 0px;

  &__item {
    position: relative;
    flex: 0.25;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .step {
      display: block;
      width: 40px;
      line-height: 40px;
      color: #fff;
      text-align: center;
      background-color: rgb(59, 196, 59);
      border-radius: 20px;
      font-weight: bold;
      z-index: 10;
    }

    .name {
      margin-top: 12px;
      color: rgba(148, 148, 148, 0.712);
    }

    &::after {
      position: absolute;
      left: 50%;
      top: 20px;
      display: block;
      content: "";
      height: 3px;
      width: 100%;
      background-color: #eeeeee;
    }
  }

  &--active {
    &::after {
      background-image: linear-gradient(to right, rgb(59, 196, 59), #e2e2e2 60%);
    }
  }

  &--resActive {
    &::after {
      background-image: linear-gradient(to right, #e2e2e2 40%, rgb(59, 196, 59));
    }
  }

  &--cancel {
    &::after {
      height: 0px;
    }
  }
}
