.transportSection {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #4ca74c;
    border-bottom: 3px solid #4ca74c;
    width: 100%;
    padding: 8px 0px;

    i {
      font-size: $font-xl;
    }

    h3 {
      font-size: $font-m;
      margin-left: 16px;
    }
  }

  .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

    &__item {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 16px 0px;
      border-bottom: 1px solid #4ca74c;

    }

    .method {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: 10px;
      cursor: pointer;

      p {
        color: #333;
      }

      span {
        margin-top: 8px;
        font-size: $font-xxs;
        color: rgb(192, 146, 82);
      }
    }
  }

  button {
    padding: 8px 20px;
    background-color: rgb(76, 167, 76);
    color: #fff;
    border: 1px solid rgb(76, 167, 76);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-family: '微軟正黑體';

    i {
      margin-left: 8px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0);
      color: rgb(76, 167, 76);
    }

    &:focus {
      outline: none;
    }
  }
}
